* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
}

.container {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%; 
    position: absolute;
}

.hero::before {
    content: ' ';
    display: block;
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    opacity: 0.2;
    background-size: cover;
    height: 100vh;
    width: 100%; 
}

.heading {
    position: fixed;
    right: 10vw;
    top: 2vh;
    font-size: 16px;
    font-weight: 200;
    color: red;
}

#hero-section {
    height: 100vh;
    width: 100%;
}

.hero-wrapper {
  margin-left: 30vw;;
}

.line {
    float: left;
    width: 80em;
    color: #222;
    border-right: 2px solid rgb(255, 255, 255);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    font-weight: 200; 
}

.typewriter-line1 {
    padding-top: 20vh;
}

.anim-typewriter1 {
    animation: typewriter1 5.5s steps(120) 2s 1 normal both, blinkTextCussor 400ms steps(50) infinite normal;
}
.anim-typewriter2 {
    animation: typewriter2 4.2s steps(90) 1s 1 normal both, blinkTextCussor 400ms steps(50) infinite normal;
}
.anim-typewriter3 {
    animation: typewriter3 2s steps(43) 1s 1 normal both, blinkTextCussor 400ms steps(50) infinite normal;
}
.anim-typewriter4 {
    animation: typewriter4 2s steps(43) 1s 1 normal both, blinkTextCussor 400ms steps(50) infinite normal;
}
.anim-typewriter5 {
    animation: typewriter5 4s steps(84) 1s 1 normal both, blinkTextCussor 400ms steps(50) infinite normal;
}

.anim-end {
    animation: typewriter5 0s steps(1) 1 normal both, blinkTextCussor 400ms steps(50) infinite normal;
}
@keyframes typewriter1 {
    from {
        width: 0;
    }
    to {
        width: 43.4em;
    }
}

@keyframes typewriter2 {
    from {
        width: 0;
    }
    to {
        width: 38em;
    }
}

@keyframes typewriter3 {
    from {
        width: 0;
    }
    to {
        width: 14.2em;
    }
}

@keyframes typewriter4 {
    from {
        width: 0;
    }
    to {
        width: 17.6em;
    }
}

@keyframes typewriter5 {
    from {
        width: 0;
    }
    to {
        width: 32.6em;
    }
}

@keyframes blinkTextCussor {
    from {
        border-right-color: rgba(0, 0, 0, 0.808);
    }
    to {
        border-right-color: transparent;
    }
}

.img-container {
    display: absolute;
    position: absolute;
    top: 10vh;
    left: 10vw;
    height: 50vw;
    width: 80vw;
    z-index: 5000;
}

.icon {
    width: 70px;
    height: 70px;
    opacity: 0.7;
    background-size: cover;
}

.icons-container {
    display: flex;
    margin-top: 20vh;
    margin-right: 30vw;
    justify-content: space-between;
    
}

.icon-rockclimber {
    background-image: url(https://image.flaticon.com/icons/svg/808/808485.svg);
}

.icon-camera {
    background-image: url(https://image.flaticon.com/icons/svg/149/149098.svg);
}

.icon-developer {
    background-image: url(https://image.flaticon.com/icons/svg/1336/1336494.svg);
}

.icon-writer {
    background-image: url(https://image.flaticon.com/icons/svg/1188/1188570.svg);
}

.icon-surfer {
    background-image: url(https://image.flaticon.com/icons/svg/980/980722.svg);
}

.music {
    display: absolute;
}

#showcase-section {
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 2px;
    border-top: 2px solid #222;
    border-bottom: 2px;
    overflow-x: hidden; 
    height: 100vh;
    width: 100vw;
}

.pic1 {
    background-image: url(../indo1.jpg);
    background-size: cover;
    background-position-y: bottom;
    grid-column: span 2;
    grid-row: span 3;
}

.pic2 {
    background-image: url(../img/YAK.jpg);
    background-size: cover;
    background-position-y: bottom;
    grid-column: span 1;
    grid-row: span 3;
}
.pic3 {
    background-image: url(../img/SistaFiskaren.jpg);
    background-size: cover;
    background-position-y: bottom;
    grid-column: span 2;
    grid-row: span 3;
}
.pic4 {
    background-image: url(../img/APESHIT.PNG);
    background-size: cover;
    background-position-y: bottom;
    grid-column: span 1;
    grid-row: span 3;
}

.pic5 {
    background-image: url(../img/main1.jpg);
    background-size: cover;
    background-position-y: center;
    grid-column: span 3;
    grid-row: span 3;
}
.pic6 {
    background-image: url(../img/export_01_pic_01.jpg);
    background-size: cover;
    background-position-y: bottom;
    grid-column: span 1;
    grid-row: span 3;
}