/* html {
    height: 100%;
} */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.showcase {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 100vh;
    width: auto;
    padding: 5%;
    background-attachment: fixed;
    scroll-snap-align: start;
    z-index: 6;
    max-width: 1300px;
    margin-bottom: 2rem;
}

.header {
    font-weight: 200;
    color: #222;
}

.showcase h1 {
    margin: 0;
    font-weight: 600;
    font-size: 7vh;
    line-height: 6.5vh;
}

.sub-slogan {
    background: -webkit-linear-gradient(30deg, #ff6186, #5a93ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-slogan:hover {
    background-image: url("https://media.giphy.com/media/Hd3GXtH7xs1CU/giphy.gif");
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff14;
    background-position-y: 30%;
}

.showcase p {
    padding-top: 2vh;
    color: #666;
    font-size: 3vh;
    font-weight: 200;
}

.slogan {
    color: #222;
    padding-top: 7vh;
    padding-bottom: 3vh;
}

.course {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-attachment: fixed;
    scroll-snap-align: start;
    overflow: hidden;
    background-color: cornflowerblue;
}

.course p {
    width: auto;
    text-align: center;
  font-size: 5vw;
    color: rgb(255, 255, 255);
    font-weight: 200;
    transform: rotate(-20deg);
}

.course-footer {
    margin-top: 15vh;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 40%;
    padding-bottom: 100%;
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.454), #00000025);
    transform: rotate(20deg);
}

.course-header {
    background-color: rgba(0, 0, 0, 0.303);
    padding-bottom: 5%;
    height: 300px;
    max-height: 350px;
}

.course h2 {
    margin: 0;
    color: #fff;
    padding-top: 5%;
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
}

.course-one {
    background-image: url("https://scontent-arn2-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/70391948_382262116001079_7319698233251332096_n.jpg?_nc_cat=103&_nc_oc=AQmFa24eLCHuQOA_huNwR5j7MIT6Xz5d5YNYEI5YDzAwN4UkBS9U7oNfDwzm1c2fIjk&_nc_ht=scontent-arn2-1.xx&oh=085a2b135e0d598d301ee50b0beb7263&oe=5DF57190");
    background-size: cover;
    background-position: 40%;

}

.course-two {
    background-image: url("august/img/boat.jpg");
    background-size: cover;
}

.course-three {
    background-image: url("https://files.slack.com/files-pri/TMACKGYQH-FNBRYV97H/starling.jpg");
    background-size: cover;
    background-position: 70%;
  
}
.course-four {
    background-image: url("https://files.slack.com/files-pri/TMACKGYQH-FMX7TU45Q/ska__rmavbild_2019-09-12_kl._16.18.41.png");
    background-size: cover;
}

.course-five {
    background-image: url("https://i.pinimg.com/564x/18/b3/05/18b305849c22b211ce52beb7cc569d88.jpg");
    background-size: cover;
    /* filter: brightness(-5); */
    background-position: bottom;
}

.courses-header {
    text-align: center;
    /* visibility: hidden; */
    font-weight: 200;
    font-size: 7vh;


}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
.course-four {}

.course-five {}

@media (min-width: 745px) {
    body {
        scroll-snap-type: none;
        scroll-behavior: unset;
    }

    .course-header h2 {
        font-size: 2rem;
    }

    .courses-header {
        visibility: visible;
        font-size: 7vh;
    }

    .course-overview {
        display: flex;
        max-width: 1335;
        flex-flow: row wrap;
        padding: 0 5%;
        justify-items: center;
    }

    .course p  {
        font-size: calc(0.8rem + 0.3vh + 0.5vw);
    }

    .course {
        flex: 0 0 25vw;
        min-width: 400px;
        display: flex;
        flex-direction: column;
        margin: 0 0 1rem 1rem;
        padding: 0;
        height: 65vh;
        background-attachment: unset;
        scroll-snap-align: none;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    .course-overview {
        justify-content: space-around; 
    }
}

